* {
    margin: 0;
    padding: 0;
}

body {
  background-color: #0f141f;
}


.trailerMovie {
  width: 560px;
  height: 315px;
}

@media (max-width: 768px) {
  .trailerMovie {
    width: 80%;
    height: 300px;
  }
}